# looks a _lot_ like iTerm
#theme = Dark Pastel

# a little more toned down than Dark Pastel
#theme = Apple System Colors

# what I was used to before
#theme = iTerm2 Default

# sure, why not
#theme = JetBrains Darcula

# inspired by starship.rs faq
theme = Snazzy

# Make the icon look more like iTerm: black screen with green ghost
macos-icon = custom-style
macos-icon-ghost-color = #00ff00
macos-icon-screen-color = #000000

# Makes ls(1) colors render more "correctly"
bold-is-bright = true

# Re-instate this linux-like behaviour (like iTerm)
copy-on-select = true

# https://www.nerdfonts.com/ required for starship.rs
#font-family = FiraMono Nerd Font Mon
#font-family = BlexMono Nerd Font Mono

# inspired by ghostty docs
#font-family = Iosevka Nerd Font Mono Medium
#font-style = Medium
#font-style-bold = Heavy
#font-style-italic = Medium Italic
#font-style-bold-italic = Heavy Italic

# inspired by starship.rs faq
font-family = FiraCode Nerd Font Mono

#font-size = 12

# Fairly large window by default
window-width = 160
window-height = 50

# Hide the "folder" icon in the title bar
macos-titlebar-proxy-icon = hidden

# Use cmd+left/right to navigate tabs (like iTerm)
keybind = super+left=previous_tab
keybind = super+right=next_tab

# Enable keybinding for toggling quick terminal
keybind = global:cmd+shift+@=toggle_quick_terminal
